.terminal {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
}

.history {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.input-line {
    display: flex;
    align-items: center;
    white-space: pre; /* Preserve whitespace */
}

.prompt.green {
    color: #33ff33; /* Green color for the prompt */
}

.prompt.yellow {
    color: #ffff00; /* Yellow color for the path */
}

.command {
    color: #ffffff; /* White color for the command */
}

.output {
    color: #c5c5c5;
    margin-left: 20px;
}

.error {
    color: #ff3333; /* Red color for error messages */
}

input {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; /* Ensure font size matches the rest of the terminal */
    white-space: pre; /* Preserve whitespace */
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}